/* index.CSS */
/* 태그선택자 {속성:값;} */
/* #아이디선택자 {속성:값;} */
/* .클래스선택자 {속성:값;} */
/* 부모선택자 > 자식선택자 {속성:값;} */
/* 형제선택자 + 입정형제선택자 {속성:값;} */
/* 형제선택자 ~ 뒤에모든형제들 {속성:값;} */
#wrap {
    width: 402px; /* css 숫자입력 시 단위작성하기 */
    height: 874px;
    background-color: aqua;
     /* 안쪽여백, 피그마 오토레이아웃 패딩과 동일 */
     /* 안쪽여백 패딩을 4방향 각각 넣는 법 */
    /* padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    padding-bottom: 45px; */
    /* 패딩 값 1개 작성 시 - 전체 방향 적용 */
   /*  padding: 45px; */
    /* 패딩 값 2개 작성 시 - 상하/좌우 방향 적용 */
    padding: 45px 15px;
    /* 패딩 값 3개 작성 시 - 상/좌우/하 방향 적용 */
    /* padding: 45px 15px 45px; */
    /* 패딩 값 4개 작성 시 - 상/좌/하/우 12/3/6/9시 방향 적용 */
    /* padding: 45px 15px 45px 15px; */
    /* 패딩을 위쪽에서만 주고싶은 경우 (한쪽에만 주고싶은 경우) */
    /* padding: 45px 0 0 0; */
    /* 테두리 적용 문법 border:두께 모양 색상; */
    /* border:1px solid #000 */
    /* 테두리 종류 : solod, dashed, dotted, double */
}
/* --------------------------header 1행--------------------------------------------- */
#wrap > header {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
#wrap > header > .top {}
#wrap > header > .top > h1 {}
#wrap > header > .top > h1 > a { /* 글자꾸미기는 가장 글자에 가까운 선택자에 작성 */
    font-size: 1.125em;
    font-weight: 700; /* Regular(400) 굵기 종류에 따라 +-100 */
    /* reset.css의 초기화 설정값에 따라 작성 유무 결정하기(적용값과 초기값이 같으면 생략) */
}
#wrap > header > .top > .r_menu {}
#wrap > header > .top > .r_menu > .search_btn {
    margin-right: 8px;
}
#wrap > header > .top > .r_menu > .search_btn > img {}
#wrap > header > .top > .r_menu > .menu_btn {}
#wrap > header > .top > .r_menu > .menu_btn > img {}
/* --------------------------header 2행--------------------------------------------- */
#wrap > header > .all_today {
    padding-bottom: 10px;
}
#wrap > header > .all_today > .all {
    font-size: 1.125;
    color: #aaa;
    margin-right: 12px;
}
#wrap > header > .all_today > .all > .a_number {
    color: #aaa;
}
#wrap > header > .all_today > .today {
    font-size: 1.125;
    color: #aaa;
}
#wrap > header > .all_today > .today > .t_number {
    color: #aaa;
}
#wrap > header > .all_today > .active {
    font-weight: 700;
    color: #000;
} /* 활성화기준 대상 */
#wrap > header > .all_today > .active > .a_number {
    font-weight: 700;
    color: #000;
}
/* --------------------------main 1행--------------------------------------------- */